# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Custom folders and files
qdrant_storage/
data/
*.pdf